<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>560564072375-7fe9ko75li0nua2aju4fqtm8lu78ic1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560564072375-7fe9ko75li0nua2aju4fqtm8lu78ic1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAGZ1egzCWpUxmuktcQqbN3Lx9h0E27UzE</string>
	<key>GCM_SENDER_ID</key>
	<string>560564072375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobcomlab.FireBots</string>
	<key>PROJECT_ID</key>
	<string>firebots-8e1b8</string>
	<key>STORAGE_BUCKET</key>
	<string>firebots-8e1b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560564072375:ios:de62f7fb100ac09e</string>
	<key>DATABASE_URL</key>
	<string>https://firebots-8e1b8.firebaseio.com</string>
</dict>
</plist>